<div ng-app='app.exampleApp' ng-controller='UsersCtrl'>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
  </table>


  <form ng-submit="addUser()">
    <input type="text" ng-model="enteredName">
    <input type="text" ng-model="enteredEmail">
    <input type="submit" value="add user">
    <p>{{ users.length }}</p>
  </form>
</div>
